<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.ChartMapper">
    <!-- chart 1 -->
    <select id="countMilestoneStatusZero" resultType="long" parameterType="long">
        SELECT COUNT(*) FROM milestone WHERE project_seq=#{project_seq} AND milestone_status='0'
    </select>
    <select id="countMilestoneStatusOne" resultType="long" parameterType="long">
        SELECT COUNT(*) FROM milestone WHERE project_seq=#{project_seq} AND milestone_status='1'
    </select>
    <!-- chart 2 -->
    <select id="countTaskAll" resultType="long" parameterType="long">
        SELECT COUNT(*) FROM task WHERE project_seq=#{project_seq};
    </select>
    <select id="countTaskMine" resultType="long" parameterType="long">
        SELECT COUNT(*) FROM task, member WHERE project_seq=#{project_seq} AND projmember_seq=#{projmember_seq} AND member_seq=#{member_seq};
    </select>
    <!-- chart 3 -->
    <select id="countTaskStatusZero" resultType="long" parameterType="long">
        SELECT COUNT(*) FROM task WHERE project_seq=#{project_seq} AND task_status='0';
    </select>
    <select id="countTaskStatusOne" resultType="long" parameterType="long">
        SELECT COUNT(*) FROM task WHERE project_seq=#{project_seq} AND task_status='1';
    </select>
</mapper>
