<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.ProjectmemberMapper">

    <!--해당 프로젝트의 닉네임과 사진 변경-->
    <update id="updateProfile" parameterType="projectmemberDTO">
        UPDATE project_member
        SET projmember_name = #{projmember_name},
            projmember_filename = #{projmember_filename},
            projmember_filetype = #{projmember_filetype},
            projmember_data = #{projmember_data}
        WHERE projmember_seq = #{projmember_seq}
    </update>

    <!--프로젝트seq와(프론트에서 넘겨줌) 멤버seq(세션으로 받음)로 프로젝트멤버 seq 찾기-->
    <select id="findProjMemberSeq" parameterType="long" resultType="long">
        SELECT projmember_seq FROM project_member
        WHERE project_seq=#{project_seq} AND member_seq=#{member_seq};
    </select>

    <!--이미지 꺼내봐요-->
    <select id="showImage" parameterType="long" resultType="projectmemberDTO">
        select * from project_member where projmember_seq=#{projmember_seq};
    </select>


<!--    <insert id="invitation" parameterType="Project_memberDTO">-->
<!--        insert into project_member(projmember_Type, project_seq, member_seq)-->
<!--        values ("1", #{project_eq})-->
<!--    </insert>-->

    <update id="masterget" parameterType="long">

    </update>








    <!--  프로젝트 멤버번호로 리스트 받기-->
    <select id="selectByPmseq" resultType="ProjectmemberDTO" parameterType="long">
    select * from project_member where projmember_seq= #{projmember_seq}
    </select>
    <!-- 멤버번호로 리스트 받기 -->
    <select id="selectByMseq" resultType="ProjectmemberDTO" parameterType="long">
        select * from project_member where member_seq= #{member_seq}
    </select>
    <!-- 이름으로 리스트받기 -->
    <select id="selectByPmname" resultType="ProjectmemberDTO" parameterType="String">
        select * from project_member where projmember_name= #{projmember_name}
    </select>
    <!-- 프로젝트 관리자 이름 찾을 때-->
    <select id="selectByPBoss" resultType="String" parameterType="String">
        select projmember_name from Project_member where projmember_type= #{projmember_type}
    </select>


    <delete id="deleteByPm" parameterType="long">
        Delete from Project_member where projmember_seq= #{projmember}
    </delete>


    <!-- 관리자 권한 획득 -->
    <update id="updateByPmTypeUp" parameterType="long">
        update project_member set projmember_type="0" where projmember_seq= #{projmember_seq}
    </update>
    <!-- 관리자 권한 상실 -->
    <update id="updateByPmTypeDown" parameterType="long">
        update project_member set projmember_type="1" where projmember_seq= #{projmember_seq}
    </update>


</mapper>