<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.ProjectmemberMapper">

    <!-- 프로젝트 멤버 리스트 -->
    <select id="selectAll" resultType="projectmemberDTO">
        select * from project_member
    </select>
    <!--  프로젝트 멤버번호로 리스트 받기-->
    <select id="selectByPmseq" resultType="ProjectmemberDTO" parameterType="long">
    select * from project_member where projmember_seq= #{projmember_seq}
    </select>
    <!-- 멤버번호로 리스트 받기 -->
    <select id="selectByMseq" resultType="ProjectmemberDTO" parameterType="long">
        select * from project_member where member_seq= #{member_seq}
    </select>
    <!-- 이름으로 리스트받기 -->
    <select id="selectByPmname" resultType="ProjectmemberDTO" parameterType="String">
        select * from project_member where projmember_name= #{projmember_name}
    </select>
    <!-- 프로젝트 관리자 이름 찾을 때-->
    <select id="selectByPBoss" resultType="String" parameterType="String">
        select projmember_name from Project_member where projmember_type= #{projmember_type}
    </select>

    <insert id="insertByPm" parameterType="ProjectmemberDTO">
        insert into project_member(projmember_type, projmember_name, projmember_image, project_seq, member_seq)
        values (#{projmember_type}, #{projmember_name}, null, #{project_seq}, #{member_seq})
    </insert>
    <delete id="deleteByPm" parameterType="long">
        Delete from Project_member where projmember_seq= #{projmember}
    </delete>

    <!-- 이름 바꾸기-->
    <update id="updateByPmName" parameterType="ProjectmemberDTO">
        update project_member set projmember_name = #{projmember_name} where projmember_seq= #{projmember_seq}
    </update>
    <!-- 이미지 바꾸기-->
    <update id="updateByPmImg" parameterType="ProjectmemberDTO">
        update project_member set projmember_image = #{projmember_image} where projmember_seq= #{projmember_seq}
    </update>

    <!-- 관리자 권한 획득 -->
    <update id="updateByPmTypeUp" parameterType="long">
        update project_member set projmember_type="0" where projmember_seq= #{projmember_seq}
    </update>
    <!-- 관리자 권한 상실 -->
    <update id="updateByPmTypeDown" parameterType="long">
        update project_member set projmember_type="1" where projmember_seq= #{projmember_seq}
    </update>


</mapper>