<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.TasklogMapper">
    <!--업무당 업무로그 리스트-->
    <select id="tasklogList" resultType="TasklogDTO" parameterType="long">
        SELECT * FROM task_log WHERE task_seq = #{task_seq}
    </select>

    <insert id="insertCreate" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무가 생성되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertTitleUpdate" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 제목이 변경되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertContentUpdate" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 내용이 변경되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertDateUpdate" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 날짜가 변경되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertPriorityUpdate" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 중요도가 변경되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertLabelUpdate" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 라벨이 변경되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertDelete" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무가 삭제되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertRestore" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무가 복구되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertEnd" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무가 종료되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertFileUpload" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 파일이 업로드되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>

    <insert id="insertFileDelete" parameterType="TasklogDTO">
        INSERT INTO task_log
            (tasklog_type, tasklog_date, task_seq, projmember_seq)
        VALUES ("업무 파일이 삭제되었습니다.",NOW(),#{task_seq},#{projmember_seq})
    </insert>



</mapper>