<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.TaskMapper">
    <!--전체-->
    <select id="selectAll" resultType="TaskDTO">
        select * from task
    </select>
    <!--마일스톤시퀀스에 따른 필터링-->
    <select id="selectByMilestone" resultType="TaskDTO" parameterType="long">
        select * from task where milestone_seq=#{seq}
    </select>
    <!--진행중 임무, 종료된 임무 필터링-->
    <select id="selectByStatus" resultType="TaskDTO" parameterType="String">
        select * from task where task_status=#{status}
    </select>
    <!--중요도에 따른 필터링-->
    <select id="selectByPriority" resultType="TaskDTO" parameterType="String">
        select * from task where priority_code=#{priority}
    </select>

    <!--새 업무 셋팅(파일, 멤버배정 외)-->
    <insert id="insert" parameterType="TaskDTO">
        <!--insert into ADDRESS(NAME, ADDR, RDATE) values(#{name}, #{addr}, now())-->
        insert into task(task_title, task_content, task_status, task_isdelete, task_startdate, task_duedate, milestone_seq) values(#{task_title}, null, "0", "0",#{task_startdate}, #{task_duedate}, #{milestone_seq})
    </insert>

    <!--업무 isdelete변경-->
    <update id="delete" parameterType="long">
         <!--delete from task where task_seq=#{seq}-->
        update task set task_isdelete="1" where task_seq=#{seq}
    </update>
    <!--status 수정-->
    <update id="updateForStatus" parameterType="long">
        update task set task_status="1" where task_seq=#{seq}
    </update>
    <update id="updateForStatusZero" parameterType="long">
        update task set task_status="0" where task_seq=#{seq}
    </update>
    <!--업무 수정(status와 isdelete는 포함되어있지 않은 상태)-->
    <update id="updateAll" parameterType="TaskDTO">
        update task set task_title=#{task_title}, task_content=#{task_content}, task_startdate=#{task_startdate}, task_duedate=#{task_duedate}, milestone_seq=#{milestone_seq}, priority_code=#{priority_code}, label_seq=#{label_seq} where task_seq=#{task_seq}
    </update>
</mapper>