<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.pium.mapper.TaskmemberMapper">

    <!--  업무번호로 조회 -->
    <select id="selectByTaskSeq" resultType="TaskmemberDTO" parameterType="long">
        select * from task_member where task_seq = #{task_seq}
    </select>











    <!-- 업무멤버 번호로 조회 -->
    <select id="selectByTm" resultType="TaskmemberDTO" parameterType="long">
        select * from task_member where taskmember_seq= #{taskmember_seq}
    </select>



    <!-- 플젝멤버번호로 조회 -->
    <select id="selectByPm" resultType="TaskmemberDTO" parameterType="long">
        select * from task_member where projmember_seq= #{projmember_seq}
    </select>


    <!-- 추가 -->
    <insert id="insertByTm" parameterType="TaskmemberDTO">
        insert into task_member(task_seq, projmember_seq) values (#{task_seq}, #{projmember_seq})
    </insert>
    <!-- 삭제 -->
    <delete id="delete" parameterType="long">
        delete from task_member where taskmember_seq = #{taskmember_seq}
    </delete>


</mapper>